// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.prop {
    border-style: solid;
    border-left: black;
    border-right: black;
}

.links {
    background-color: grey;
}